// Fonts Imports

@import url("https://fonts.googleapis.com/css?family=Poppins:500|Roboto:400,500,700,900&display=swap");

@font-face {
  font-family: gilroy;
  src: url(./EM-Gilroy/Gilroy-Medium.ttf);
}

@font-face {
  font-family: gilroy-bold;
  src: url(./EM-Gilroy/Gilroy-Bold.ttf);
}

@font-face {
  font-family: gilroy-semiBold;
  src: url(./EM-Gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: gilroy-extraBold;
  src: url(./Gilroy-FREE/Gilroy-FREE/Gilroy-ExtraBold.otf);
}

// Default styles
$main-color: #06cb99;
$second-color: #28c76f;
$font-color: #333;

// General Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: gilroy-bold;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 80px;
}

h2 {
  font-family: gilroy-SemiBold;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
}

p {
  font-family: gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.sub-title {
  font-family: gilroy-semiBold;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.sub-title2 {
  font-family: gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.body-2 {
  font-family: gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
}

.main-button {
  background: linear-gradient(180deg, $main-color 0%, $second-color 100%);
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  padding: 10px 20px;
  max-height: min-content;
  height: 100%;
}

.secondary-button {
  border: 1px solid $main-color;
  padding: 20px 50px;
  color: $main-color;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  max-height: min-content;
  height: 100%;
  text-transform: uppercase;
  transition: 0.3s all ease;

  &:hover {
    background: $main-color;
    color: #ffffff;
  }
}

//Start of home page

header {
  // NavBar Styling
  nav {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px 50px;
    justify-content: space-between;

    .logo {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 26px;
      line-height: 30px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $main-color;
      align-self: center;
    }

    ul {
      display: flex;
      flex-wrap: nowrap;
      align-self: center;

      a {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #333333;
        margin: 0 20px;
      }
    }
  }

  // Start of herosection
  .hero-section {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 0 50px;

    .left {
      max-width: 420px;
      align-self: center;
      h1 {
        color: #333;
        span {
          color: $second-color;
        }
      }

      p {
        color: #555;
        margin: 17px 0 30px 0;
      }

      a {
        text-transform: uppercase;

        &:nth-child(2) {
          font-family: "Poppins", sans-serif;
          color: $font-color;
          font-size: 15px;
          margin: 0 0 0 27px;
        }
      }
    }

    .right {
      max-width: 500px;
      max-height: 500px;
      margin: 0 0 0 auto;
      overflow: hidden;
      align-self: center;
      .main {
        height: 100%;
        width: 100%;
      }
    }
  }
}

// setion 2

.section2 {
  max-width: 1200px;
  padding: 200px 50px;
  margin: 0 auto;
  display: flex;

  .left {
    display: flex;
    align-self: flex-end;

    .main-video {
      width: 393px;
      height: 304px;
      z-index: 1;
    }

    .secondery {
      margin: 0 0 0 -100px;
    }

    .secondery-video {
      width: 281px;
      height: 218px;
      z-index: -2;
    }

    .triggers {
      display: flex;
      align-self: flex-end;
      justify-content: flex-end;
      margin: 51px 0 0 0;

      h3 {
        font-family: Gilroy-semiBold;
        color: rgba(0, 0, 0, 0.4);
        cursor: pointer;

        &:nth-child(1) {
          margin: 0 10px 0 0;
        }
      }

      .main {
        color: black;
      }
    }
  }

  .right {
    padding: 0 70px;
    h5 {
      color: $main-color;
    }

    h2 {
      text-transform: uppercase;
      color: $font-color;

      span {
        color: $main-color;
      }
    }

    h6 {
      color: rgba(0, 0, 0, 0.6);
      margin: 13px 0 40px 0;
    }

    a {
      padding: 10px 40px;
      text-transform: uppercase;
    }
  }
}

// section 3

.section3 {
  max-width: 1200px;
  padding: 100px 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .left {
    h6 {
      color: $main-color;
      margin: 0 0 12px 0;
    }

    span {
      color: $main-color;
    }

    p {
      line-height: 23px;
      color: rgba(0, 0, 0, 0.6);
      margin: 12px 0 60px 0;
      max-width: 340px;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    margin: 60px 0 0 50px;

    a {
      justify-content: end;
      align-self: flex-end;
    }

    h4 {
      color: #06cb99;
      margin: 25px 0 12px 0;
    }

    .food-table {
      .row {
        display: flex;

        .food-item {
          display: flex;
          background: #ffffff;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
          margin: 0 25px 25px 0;
          max-height: 130px;

          .details {
            padding: 20px;
            text-align: center;

            h6 {
              font-family: gilroy-SemiBold;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 17px;
              text-align: center;
              color: $font-color;
            }

            p {
              font-family: gilroy;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 14px;
              text-align: center;
              color: rgba(69, 81, 84, 0.77);
              margin: 15px 0;
            }

            h5 {
              font-family: gilroy-SemiBold;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 17px;
              text-align: center;
              color: $main-color;
            }
          }
        }
      }
    }
  }
}

// section 4

.section4 {
  text-align: center;

  h5 {
    color: $main-color;
  }

  h2 {
    margin: 13px 0;
    text-transform: capitalize;
  }

  h6 {
    color: #555;
    max-width: 400px;
    margin: 0 auto;
  }

  .marquee {
    display: flex;
    align-self: center;
    margin: 64px 0 0 0;
    overflow: hidden;

    &1,
    &2 {
      display: flex;
      max-height: min-content;
      height: 100%;
      animation-name: moveTweetsLeft;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-timing-function:linear;

      img {
        display: block;
        max-height: min-content;
        height: 100%;
        align-self: center;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
        margin: 0 10px;
      }
    }
  }
}

@keyframes moveTweetsLeft{
  from{
    transform: translateX(0);
  }

  to{
    transform: translateX(-1908px);
  }
}

// .move-sec-video-left {
//   animation-name: move-sec-video-left;
//   animation-duration: 2s;
//   transform: translate(-330px, -35px) scale(1.5);
//   z-index: 20 !important;
// }

// .move-sec-video-right {
//   animation-name: move-sec-video-right;
//   animation-duration: 2s;
//   transform: translate(0px, 0px) scale(1);
//   z-index: 20 !important;
// }

// .move-main-video-right {
//   animation-name: move-main-video-right;
//   animation-duration: 2s;
//   transform: translate(330px, 35px) scale(0.7);
//   z-index: 20 !important;
// }

// .move-main-video-left {
//   animation-name: move-main-video-left;
//   animation-duration: 2s;
//   transform: translate(0px, 0px) scale(1);
//   z-index: 20 !important;
// }

// @keyframes move-sec-video-left {
//   from {
//     transform: translate(0, 0) scale(1);
//   }
//   to {
//     transform: translate(-330px, -35px) scale(1.5);
//   }
// }

// @keyframes move-sec-video-right {
//   from {
//     transform: translate(-330px, -35px) scale(1.5);
//   }
//   to {
//     transform: translate(0, 0) scale(1);
//   }
// }

// @keyframes move-main-video-right {
//   from {
//     transform: translate(0px, 0px) scale(1);
//   }
//   to {
//     transform: translate(330px, 35px) scale(0.7);
//   }
// }

// @keyframes move-main-video-left {
//   from {
//     transform: translate(330px, 35px) scale(0.7);
//   }
//   to {
//     transform: translate(0, 0) scale(1);
//   }
// }
