@import url("https://fonts.googleapis.com/css?family=Poppins:500|Roboto:400,500,700,900&display=swap");
@font-face {
  font-family: gilroy;
  src: url(./EM-Gilroy/Gilroy-Medium.ttf);
}

@font-face {
  font-family: gilroy-bold;
  src: url(./EM-Gilroy/Gilroy-Bold.ttf);
}

@font-face {
  font-family: gilroy-semiBold;
  src: url(./EM-Gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: gilroy-extraBold;
  src: url(./Gilroy-FREE/Gilroy-FREE/Gilroy-ExtraBold.otf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: gilroy-bold;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 80px;
}

h2 {
  font-family: Gilroy-SemiBold;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
}

p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.sub-title {
  font-family: Gilroy-semiBold;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.body-2 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
}

.main-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#06cb99), to(#28c76f));
  background: linear-gradient(180deg, #06cb99 0%, #28c76f 100%);
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  padding: 10px 20px;
  max-height: -webkit-min-content;
  max-height: -moz-min-content;
  max-height: min-content;
  height: 100%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 35px 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .logo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #06cb99;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-item-align: center;
      align-self: center;
}

header nav ul a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #333333;
  margin: 0 20px;
}

header .hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 0 50px;
}

header .hero-section .left {
  max-width: 420px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .hero-section .left h1 {
  color: #333;
}

header .hero-section .left h1 span {
  color: #28c76f;
}

header .hero-section .left p {
  color: #555;
  margin: 17px 0 30px 0;
}

header .hero-section .left a {
  text-transform: uppercase;
}

header .hero-section .left a:nth-child(2) {
  font-family: "Poppins", sans-serif;
  color: #333;
  font-size: 15px;
  margin: 0 0 0 27px;
}

header .hero-section .right {
  max-width: 500px;
  max-height: 500px;
  margin: 0 0 0 auto;
  overflow: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .hero-section .right .main {
  height: 100%;
  width: 100%;
}

.section2 {
  max-width: 1200px;
  padding: 200px 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2 .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section2 .left .main-video {
  width: 393px;
  height: 304px;
  z-index: 1;
}

.section2 .left .secondery {
  margin: 0 0 0 -100px;
}

.section2 .left .secondery-video {
  width: 281px;
  height: 218px;
  z-index: -2;
}

.section2 .left .triggers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 51px 0 0 0;
}

.section2 .left .triggers h3 {
  font-family: Gilroy-semiBold;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.section2 .left .triggers h3:nth-child(1) {
  margin: 0 10px 0 0;
}

.section2 .left .triggers .main {
  color: black;
}

.section2 .right {
  padding: 0 70px;
}

.section2 .right h5 {
  color: #06cb99;
}

.section2 .right h2 {
  text-transform: uppercase;
}

.section2 .right h2 span {
  color: #06cb99;
}

.section2 .right h6 {
  color: rgba(0, 0, 0, 0.6);
  margin: 13px 0 40px 0;
}

.section2 .right a {
  padding: 10px 40px;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */